body {
  width: 100%;
  height: 100%;
    margin: 0;
  padding: 0;
  background-color: rgba(235, 235, 235, 1);
  font-family: "OpenSans", sans-serif;
}
.header{
width: 100%;
height: 30%;
margin: 0px;
padding: 0px;
background-color: rgba(22, 56, 80, 1);
min-height: 80px;
}
.center {
  width: 60%;
  margin: 0 20% 0 20%;
  padding: 0px;
  /*display: table;*/
  height: 30%;
  min-height: 80px;
}


.header .top {
margin: auto 0 auto 0;
padding: 0px;
height: 100%;
display: table;
width: 100%;
 min-height: 80px;
}
.header .top div{
display: table-cell;
vertical-align: middle;	
padding: 0px;
margin: 0px;
}
.header .top .link{
text-align:  left;
}
.header .top a{
color: 	rgba(254, 182, 63, 1);
font-weight: bold;
font-size: 28px;
text-transform: uppercase;
text-decoration: none; 
margin: 0px 0px 0px 20px;
padding: 0px;
}
.header .top .btn{
margin: 0px;
padding: 0;
border: 0px;
width: 170px;
height: 50px;
}

.header .top .btn button{
margin: 0px 20px 0px 0px;
padding: 0;
border: 0px;
width: 170px;
height: 50px;
color: rgba(22, 56, 80, 1);
background-color: rgba(254, 182, 63, 1);
font-weight: bold;
line-height: 30px;
font-size: 14px;
text-transform: uppercase;
border-radius: 5px;
text-decoration: none;
outline: none;
background: linear-gradient(rgba(254,239,180,1), rgba(254, 182, 63, 1), #e7a840);
}
.header .top .btn button:hover{
text-shadow: 0px 0px 1px rgba(0,0,0,0.5);
	
}
.header .top .btn button:active{
background: linear-gradient(#e7a840, rgba(254, 182, 63, 1),rgba(254,239,180,1));	
}
.main {
padding: 0;
border: 0px;
min-width: 250px;
min-height: 250px;
width: 500px;
height: 512px;
margin: 30px auto 0 auto;
box-shadow: 0 0 50px 10px rgba(186,186,186,0.5);
}
.table {
border:1px solid rgba(22, 56, 80, 1);
width: 100%;
height: 100%;
padding: 3px;
}
.table td {
text-align:center;
vertical-align: middle;
border-collapse: collapse;
border:1px solid rgba(22, 56, 80, 1);
position: relative;
width: 54px; 
height: 53px;
margin: 0px;
padding: 0px;
}
/*вертикальные линии*/
.vline:after {
position: absolute;	
content: "";
top: 0px;
left: -3px;
height: 500px;
width: 2px;
background-color: rgba(22, 56, 80, 1);
color: rgba(22, 56, 80, 1);
}
/*горизонтальные линии*/
.hline:after {
position: absolute;	
content: "";
top: -3px;
left: 0px;
height: 2px;
width: 488px;
background-color: rgba(22, 56, 80, 1);
color: rgba(22, 56, 80, 1);
}
.popup {
padding:5px 5px 5px;
position:absolute;
display:none;
overflow:hidden;
border:1px solid rgba(235, 235, 235, 1);
background:rgba(235, 235, 235, 1);
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
z-index:100;
}
.popup a.close {
width:16px;
height:16px;
display:block;
position:absolute;
top: 5px;
right: 5px;
text-decoration: none;
color: rgba(22, 56, 80, 1);
}
.popup a.close:hover, .popup form button:hover{
	cursor: pointer;
	
}

.popup form {
margin: 20px 0 0 0;
flex-wrap: wrap;
flex-direction: row;
justify-content: space-between;
display: flex;
width: 80px;

}
.popup form button{
margin: 2px 2px 2px 2px;
border-radius: 5px;
-moz-border-radius:5px;
-webkit-border-radius:5px;
border: none;
justify-content: space-between;
}
.popup form button:last-child{
margin: 2px auto 2px auto;

}










